<!-- <ion-header>
    <ion-navbar color="blecolor">
      <ion-title class="title">Details</ion-title>
    </ion-navbar>
  </ion-header> -->

<ion-header no-border style="background:#0097A7">
  <div id="xxx">

    <ion-navbar color="blecolor" style="height:4.78vh">
      <ion-buttons (click)="backfir()" left>
        <button ion-button icon-only style="width:20px;padding-top: -7px;
        margin-left: -45px;">
          <ion-icon class="btnarrow" name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title style="text-align:center;margin-right: 9vw;font-size: 18px">Status Display</ion-title>
      <ion-buttons right>
        <button ion-button disabled="disabled" style="width:20px">
        </button>
      </ion-buttons>
    </ion-navbar>
    <div (swipe)="swipeEvent($event)">

      <ion-list mode="md" style="height:7.62vh" no-lines>
        <!-- [ngClass]="{'hidden':true}"  -->
        <button mode="md" class="btncontent" ion-item (click)="breakCon()">
          <div>
            <div class="left">
              <p class="p1">{{ text1 }}</p>
              <p class="p2">MVPE NAME:{{ text2 }}</p>
            </div>
            <div class="right">
              <div>
                <div style="float:left;margin-right: 8px;padding-bottom: 4px;">
                  <ion-icon class="topconshow" color="con" name="ios-bluetooth-outline"></ion-icon>
                </div>
                <div class="rssiconnect"><span class="rssiconnectspan">{{signal}}</span> </div>
              </div>
              <div class="topconnected">{{isCons}}</div>
            </div>
          </div>
        </button>
      </ion-list>
    </div>

  </div>

  <div style=" background-color: #0097A7;">
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="general">
        <span style="font-size: 15px;text-transform: none;"> General</span>
        <!-- <div class="bolder-sm"></div> -->
      </ion-segment-button>
      <ion-segment-button value="values">
        <span style="font-size: 15px;text-transform: none;"> Valves</span>
        <!-- <div class="bolder-sm"></div> -->
      </ion-segment-button>
      <ion-segment-button value="sensors">
        <span style="font-size: 15px;text-transform: none;"> Sensors</span>
        <!-- <div class="bolder-sm"></div> -->
      </ion-segment-button>
    </ion-segment>
  </div>

</ion-header>




<ion-content>


  <div [ngSwitch]="tabs">
    <div *ngSwitchCase="'general'">
      <div class="pcb"> <span class="headtext">PCB</span></div>
      <div class="spandiv">
        <span class="span1">Temp</span>
        <span class="span2">{{pcbdec}} ℃</span>
      </div>
      <div class="line"></div>
      <div class="spandiv1">
        <span class="span1">Moisture</span>
        <span class="span2">{{pcbshidu}} %</span>
      </div>

      <div class="pcb">Control</div>
      <div class="spandiv">
        <span class="span1">{{controlV}}</span>
        <span class="span2"> V</span>
      </div>
      <div class="line"></div>

      <div class="spandiv1">
        <span class="span1">{{controlmA}}</span>
        <span class="span2"> A</span>
      </div>

      <div class="pcb">Field</div>
      <div class="spandiv">
        <span class="span1">{{fieldV}}</span>
        <span class="span2"> V</span>
      </div>
      <div class="line"></div>

      <div class="spandiv1">
        <span class="span1">{{fieldmA}}</span>
        <span class="span2"> A</span>
      </div>

      <div class="pcb">Encoders</div>
      <div class="spandiv">
        <span class="span1">{{encoders1}}</span>
        <!-- <span class="span2">Deg C</span> -->
      </div>
      <div class="line"></div>

      <div class="spandiv1">
        <span class="span1">{{encoders2}}</span>
        <!-- <span class="span2">%</span> -->
      </div>

      <div class="pcb">Strain</div>
      <div class="spandiv">
        <span class="span1">{{strain1}}</span>
        <span class="span2"> mV</span>
      </div>
      <div class="line"></div>

      <div class="spandiv1">
        <span class="span1">{{strain2}}</span>
        <span class="span2"> mV</span>
      </div>


      <div class="pcb"> <span class="headtext">PT100</span></div>
      <div class="spandiv">
        <span class="span1">Temp1</span>
        <span class="span2">{{temp1}} ℃</span>
      </div>
      <div class="line"></div>
      <div class="spandiv1">
        <span class="span1">Temp2</span>
        <span class="span2">{{temp2}} ℃</span>
      </div>

      <!-- <div style="width:100vw;height:5px;background:#f00"></div>
      <div>第一帧完整字节打印：</div>
      <div>
        <p>{{readdataconsole22}}</p>
      </div>

      <div style="width:100vw;height:5px;background:#f00"></div>
      <div>第二帧完整字节打印：</div>
      <div>
        <p>{{readdataconsole33}}</p>
      </div> -->

    </div>

    <div *ngSwitchCase="'values'">
      <div style="height:15px;width:100vw; background:#FFFFFFFF"></div>
      <ion-list mode="md">
        <div class="valuediv" *ngFor="let value of Values;let i = index;">
          <div class="valueshow"><span class="spanfirst">{{i+1}}</span> </div>
          <div *ngIf="value.t5; then thenBlocks; else elseBlocks"></div>
          <ng-template #thenBlocks>
            <div class="valueshow">
              <div class="div2">{{value.t1}}</div>
            </div>
          </ng-template>
          <ng-template #elseBlocks>
            <div class="valueshow">
              <div class="div22">{{value.t1}}</div>
            </div>
          </ng-template>

          <div class="valueshow">
            <div class="div3">{{value.t2}}</div>
          </div>

          <div *ngIf="value.t6; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <div class="valueshow">
              <div class="div4">{{value.t3}}</div>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="valueshow">
              <div class="div44">{{value.t3}}</div>
            </div>
          </ng-template>

          <div class="valueshow"><span class="spansecond">{{value.t4}}</span>
          </div>
          <div class="valueshow"> <span class="spanthird">mA</span>
          </div>



        </div>
      </ion-list>
    </div>


    <ion-list *ngSwitchCase="'sensors'">
      <div class="valuediv1">
        <div class="toptitle"> <span class="spanthird1">No.</span>
        </div>
        <div class="toptitle"> <span class="spanthird1">Fault</span>
        </div>
        <div class="toptitle"><span class="spanthird1">Power</span>
        </div>
        <div class="toptitle"> <span class="spanthird1">Raw Value</span>
        </div>
        <div class="toptitle"> <span class="spanthird1">Config</span>
        </div>
      </div>
      <div style="height:1.1rem;background:#FFFFFFFF;width:100vw;"></div>
      <ion-list mode="md">
        <div class="valuediv" *ngFor="let value of Values2;let i = index;">
          <div class="valueshow"><span class="spanfirst">{{i+1}}</span> </div>
          <div class="valueshow">
            <div class="div2">{{value.t1}}</div>
            <!-- <ion-icon class="iconfault" name="md-alert" color="{{value.t1}}"></ion-icon> -->
          </div>
          <div class="valueshow">
            <div class="div2">{{value.t2}}</div>
          </div>

          <div class="valueshow"><span class="spansecond">{{value.t3}}</span>
          </div>
          <div class="valueshow"> <span class="spanthird">{{value.t4}}</span>
          </div>

        </div>
      </ion-list>

    </ion-list>
  </div>


  <ion-fab left bottom>
    <button ion-fab mini (click)="setpage()">
      <ion-icon name="ios-cog"></ion-icon>
    </button>
  </ion-fab>
  <!-- 底部查询蓝牙板与mvpe板的连接状态，设置参数用。 -->
  <div [ngClass]="{'hidden':search}">
    <div style="height: 10px;width:100vw">
    </div>

    <div class="pcbset"> <span class="headtext">Get the Bluetooth board and MVPE board connection status</span></div>
    <div class="spandiv">
      <span class="span1">Status</span>
      <span class="spanStatus">{{conStatus}}</span>
    </div>
    <div class="line"></div>
    <div class="pcbset"> <span class="headtext">Send setting parameters instruction</span></div>
    <ion-list>

      <ion-item>
        <ion-label color="primary" stacked>Address</ion-label>
        <ion-input type="text" clearOnEdit="true" clearInput [(ngModel)]="addre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Value</ion-label>
        <ion-input type="text" clearOnEdit="true" clearInput [(ngModel)]="instru"></ion-input>
      </ion-item>

    </ion-list>
    <div padding>
        <p style="text-align:center;color: #0097A7;font-size:12px;">{{ retuValue }}</p>
      </div>
    <div padding>
      <button ion-button block (click)="sendInstru()">Send</button>
    </div>
  </div>

</ion-content>